<template>
  <div class="home">
    <DataTable />
  </div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'

export default {
  name: 'home',
  components: {
    DataTable,
  },
};
</script>

<style lang="scss">
  .home {
    padding: 0 30px;
  }
</style>

