<template>
  <div v-if="!payment.loading">
    <template v-if="page != 1">
      <router-link :to="{ name: 'home', query: { page: page - 1 } }" rel="prev">
      Prev Page</router-link>
    <template v-if="hasNextPage"> | </template>
    </template>
    <router-link v-if="hasNextPage" :to="{ name: 'home', query: { page: page + 1 } }" rel="next">
      Next Page</router-link>
  </div>
</template>

<script>
export default {
  props: {
    payment: {
      type: Object,
      required: true,
    },
    page: {
      type: Number,
      required: true,
    },
  },
  computed: {
    hasNextPage() {
      return this.payment.paymentsCount > this.page * this.payment.perPage;
    },
  },
}
</script>

<style>

</style>
