<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="payment in payment.payments" :key="payment.id">
          <td>{{ payment.name }}</td>
          <td class="desc">{{ payment.description }}</td>
          <td>{{ payment.date | date }}</td>
          <td>{{ payment.amount }}</td>
        </tr>
      </tbody>
    </table>
    <DataTablePagination :payment="payment" :page="page" />
  </div>
</template>

<script>
import { format } from 'date-fns';
import paymentService from '@/services/paymentService.js';
import store from '@/store/store.js';
import { mapState } from 'vuex'
import DataTablePagination from '@/components/DataTablePagination.vue';

export default {
  data() {
    return {
    }
  },
  components: {
    DataTablePagination,
  },
  filters: {
    date: function(date) {
      return format(date, 'DD/MM/YYYY hh:mm:ss')
    }
  },
  computed: {
    page() {
      return Number(this.$route.query.page || 1)
    },
    hasNextPage() {
      return this.payment.paymentsCount > this.page * this.payment.perPage
    },
    ...mapState(['payment']),
  },
  created() {
    const currentPage = parseInt(this.$route.query.page) || 1;

    store.dispatch('getAllPayments', {
      page: currentPage
    });
  }

};
</script>

<style scoped lang="scss">
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    tr {
      border-bottom: 3px solid #e5f2f7;
      background: white !important;
    }
    th {
      padding-bottom: 10px;
    }
  }

  th, td {
    text-align: left;
  }

  td {
    padding: 5px 10px 5px 0;
  }

  tr {
    &:nth-child(odd) {
      background: #f4f8fa;
    }
    &:hover {
      background: #e5f2f7;
    }
  }
  .desc {
    &:hover {
      cursor: pointer;
    }
  }
</style>
