<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Payments</router-link>
    </div>
    <router-view :key="$route.fullPath" />
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Verdana', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
